@use '../../assets/styles/media';

.creditcardpage {
  background: var(--primary-color);
  color: #fff;
  margin-top: -3px;
  padding: 50px 0;
  h2 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    margin: 20px 0;
    @include media.sm-lt {
      margin: 0 0 20px;
    }
  }
  .form {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    @include media.lg-lt {
      margin-right: 0;
    }
    .expirationcvc {
      display: grid;
      grid-template-columns: 70% 20%;
      grid-template-areas: "date cvc";
      gap: 20px;
      justify-content: space-between;
    }
    .date {
      grid-area: date;
      display: grid;
      grid-template-columns: 80px 80px;
      grid-template-rows: 2fr;
      grid-template-areas: "month year" "error error";
      gap: 10px;
      margin-bottom: 50px;
      .month {
        grid-area: month;
      }
      .year {
        grid-area: year;
      }
      .error {
        grid-area: error;
      }
    }
    .cvc {
      grid-area: cvc;
    }
    div {
      display: flex;
      flex-direction: column;
    }
    .name, .number {
      margin-bottom: 25px;
    }
    label {
      margin-bottom: 5px;
    }
    input {
      padding: 8px;
      border: 0;
      outline: 0;
      border-radius: 10px;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      appearance: textfield;
    }
    small {
      text-align: center;
      color: var(--error);
      margin-top: 5px;
      font-weight: bold;
    }
    .btnblock {
      width: 50%;
      max-width: 300px;
      margin: 0 auto;
      button {
        background: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        color: #fff;
        border-radius: 20px;
        padding: 12px 5px;
        width: 80%;
        max-width: 230px;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
          background: #fff;
          color: var(--secondary-color);
        }
      }
    }
  }
}