@use '../../assets/styles/media';

.payment {
  background: var(--primary-color);
  color: #fff;
  margin-top: -3px;
  .container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    @include media.lg-lt {
      flex-direction: row;
      align-items: start;
      margin: 0 auto;
    }

  }
  .steps {
    width: 100%;
  }
}