:root {
// Couleurs
--primary-color: #3498db;
--secondary-color: #2c3e50;
--footer-text-color: #a6b0b3; 
--footer-main-color: #3d424f; 
--footer-secondary-color: #2d2f3e;

// font
--font: 'Montserrat', sans-serif;

}